<!-- Login Modal Start -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Login Modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="loginEmail" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
                </div>

                <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input type="password" id="loginPasswd" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="loginUser()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    function loginUser() {
        $.ajax('/login', {
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({ "email": $('#loginEmail').val(), "passwd": $('#loginPasswd').val() }),
            success: function (data, textStatus, xhr) {
                showSuccess($('#loginModal'),data,function(){
                    setTimeout(() => {
                        location.reload("/");
                    }, 1500);
                })
            },
            error: function (data) {
                showError($('#loginModal'),data.responseJSON)
            }
        })
    }
 
</script>

<!-- Login Modal End -->